.button {
  cursor: pointer;
  padding: 2px 16px;
  border: none;
  outline: none;
  border-radius: 3px;
  font-size: 14px;
  user-select: none;
  min-height: 38px;
  min-width: 60px;
  transition: background-color .25s ease;
  color: #fff;

  &.default {
    &.purple {
      background-color: var(--purple);
      &:hover {
        background-color: var(--purple-hover);
      }
      &:active {
        background-color: var(--purple-active);
      }
    }

    &.red {
      background-color: var(--red);
      &:hover {
        background-color: var(--red-hover);
      }
      &:active {
        background-color: var(--red-active);
      }
    }

    &.green {
      background-color: var(--green);
      &:hover {
        background-color: var(--green-hover);
      }
      &:active {
        background-color: var(--green-active);
      }
    }
  }

  &.outlined {
    background-color: transparent;
    border: 1px solid;

    &.purple {
      color: var(--purple);
      border-color: var(--purple);
      &:active {
        background-color: var(--purple-outline-active);
      }
    }

    &.red {
      color: var(--red);
      border-color: var(--red);
      &:active {
        background-color: var(--red-outline-active);
      }
    }

    &.green {
      color: var(--green);
      border-color: var(--green);
      &:active {
        background-color: var(--green-outline-active);
      }
    }
  }
}
