/* add css module styles here (optional) */


:root {
  --normal: #dcddde;

  --purple: #7289da;
  --purple-hover: #677bc4;
  --purple-active: #5b6eae;
  --purple-outline-active: #d0d9ff;

  --red: #f04747;
  --red-hover: #d84040;
  --red-active: #c03939;
  --red-outline-active: #ffdbdb;

  --green: #43b581;
  --green-hover: #3ca374;
  --green-active: #369167;
  --green-outline-active: #cfffe7;

  --input-bg: #fcfcfc;
  --input-border: #4f545c4d;
  --input-color: #2e3338;
}

:global {
  .dark-theme {
    --input-bg: #303339;
    --input-border: #222428;
    --input-color: #fff;
  }
}
